### Código utilizado en el video:
https://youtu.be/gzEZCKyI-7k

In [1]:
import pandas as pd

In [2]:
vendedores_df = pd.read_excel('pandas 8 - datos nulos.xlsx')

In [3]:
print(vendedores_df.shape)
vendedores_df.head(8)

(42, 8)

,NOMBRE,APELLIDO,EMAIL,FECHA INGRESO,VENTAS,CALIFICACION DADA POR LOS CLIENTES,TELEFONO,REGION
0,Luciana,Rodríguez,l.rodriguez@ventas.com.br,2021-08-01,180.0,MUY BUENA,NaN,Brasil
1,Santiago,González,s.gonzalez@ventas.com.uy,NaT,NaN,MALA,NaN,Uruguay
2,Paola,Gómez,NaN,2014-11-20,198.0,MUY BUENA,NaN,NaN
3,Carlos,Fernández,NaN,NaT,150.0,NaN,NaN,Brasil
4,Jonathan,López,NaN,2018-07-19,NaN,MALA,NaN,Paraguay
5,Gabriela,Martínez,g.martinez@ventas.com.cl,2019-10-07,NaN,BUENA,NaN,Chile
6,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
7,Maximiliano,Torres,m.torres@ventas.com.ar,2015-01-05,NaN,BUENA,NaN,Argentina

# Identificar Valores Faltantes

In [5]:
vendedores_df.isna().head(7)

,NOMBRE,APELLIDO,EMAIL,FECHA INGRESO,VENTAS,CALIFICACION DADA POR LOS CLIENTES,TELEFONO,REGION
0,False,False,False,False,False,False,True,False
1,False,False,False,True,True,False,True,False
2,False,False,True,False,False,False,True,True
3,False,False,True,True,False,True,True,False
4,False,False,True,False,True,False,True,False
5,False,False,False,False,True,False,True,False
6,True,True,True,True,True,True,True,True

In [6]:
vendedores_df.notna().head(7)

,NOMBRE,APELLIDO,EMAIL,FECHA INGRESO,VENTAS,CALIFICACION DADA POR LOS CLIENTES,TELEFONO,REGION
0,True,True,True,True,True,True,False,True
1,True,True,True,False,False,True,False,True
2,True,True,False,True,True,True,False,False
3,True,True,False,False,True,False,False,True
4,True,True,False,True,False,True,False,True
5,True,True,True,True,False,True,False,True
6,False,False,False,False,False,False,False,False

In [7]:
vendedores_df.isnull().head(7)

,NOMBRE,APELLIDO,EMAIL,FECHA INGRESO,VENTAS,CALIFICACION DADA POR LOS CLIENTES,TELEFONO,REGION
0,False,False,False,False,False,False,True,False
1,False,False,False,True,True,False,True,False
2,False,False,True,False,False,False,True,True
3,False,False,True,True,False,True,True,False
4,False,False,True,False,True,False,True,False
5,False,False,False,False,True,False,True,False
6,True,True,True,True,True,True,True,True

In [8]:
vendedores_df.notnull().head(7)

,NOMBRE,APELLIDO,EMAIL,FECHA INGRESO,VENTAS,CALIFICACION DADA POR LOS CLIENTES,TELEFONO,REGION
0,True,True,True,True,True,True,False,True
1,True,True,True,False,False,True,False,True
2,True,True,False,True,True,True,False,False
3,True,True,False,False,True,False,False,True
4,True,True,False,True,False,True,False,True
5,True,True,True,True,False,True,False,True
6,False,False,False,False,False,False,False,False

In [9]:
vendedores_df.isnull().values.any()

True

In [10]:
vendedores_df['NOMBRE'].isnull().values.any()

True

In [11]:
vendedores_df['VENTAS'].isnull().values.any()

True

In [12]:
vendedores_df['TELEFONO'].isnull().values.all()

True

In [13]:
vendedores_df['VENTAS'].isnull().values.all()

False

# Eliminar Valores Faltantes

In [14]:
vendedores_df.head(8)

,NOMBRE,APELLIDO,EMAIL,FECHA INGRESO,VENTAS,CALIFICACION DADA POR LOS CLIENTES,TELEFONO,REGION
0,Luciana,Rodríguez,l.rodriguez@ventas.com.br,2021-08-01,180.0,MUY BUENA,NaN,Brasil
1,Santiago,González,s.gonzalez@ventas.com.uy,NaT,NaN,MALA,NaN,Uruguay
2,Paola,Gómez,NaN,2014-11-20,198.0,MUY BUENA,NaN,NaN
3,Carlos,Fernández,NaN,NaT,150.0,NaN,NaN,Brasil
4,Jonathan,López,NaN,2018-07-19,NaN,MALA,NaN,Paraguay
5,Gabriela,Martínez,g.martinez@ventas.com.cl,2019-10-07,NaN,BUENA,NaN,Chile
6,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
7,Maximiliano,Torres,m.torres@ventas.com.ar,2015-01-05,NaN,BUENA,NaN,Argentina

In [15]:
v_sin_nan_df = vendedores_df.dropna()
v_sin_nan_df.head()

Empty DataFrame
Columns: [NOMBRE, APELLIDO, EMAIL, FECHA INGRESO, VENTAS, CALIFICACION DADA POR LOS CLIENTES, TELEFONO, REGION]
Index: []

In [16]:
vendedores_df.dropna(how = 'all', inplace=True)
print(vendedores_df.shape)
vendedores_df.head(8)

(41, 8)

,NOMBRE,APELLIDO,EMAIL,FECHA INGRESO,VENTAS,CALIFICACION DADA POR LOS CLIENTES,TELEFONO,REGION
0,Luciana,Rodríguez,l.rodriguez@ventas.com.br,2021-08-01,180.0,MUY BUENA,NaN,Brasil
1,Santiago,González,s.gonzalez@ventas.com.uy,NaT,NaN,MALA,NaN,Uruguay
2,Paola,Gómez,NaN,2014-11-20,198.0,MUY BUENA,NaN,NaN
3,Carlos,Fernández,NaN,NaT,150.0,NaN,NaN,Brasil
4,Jonathan,López,NaN,2018-07-19,NaN,MALA,NaN,Paraguay
5,Gabriela,Martínez,g.martinez@ventas.com.cl,2019-10-07,NaN,BUENA,NaN,Chile
7,Maximiliano,Torres,m.torres@ventas.com.ar,2015-01-05,NaN,BUENA,NaN,Argentina
8,Julieta,NaN,j.ruiz@ventas.com.uy,2016-09-03,219.0,EXCELENTE,NaN,Uruguay

In [17]:
v_sin_nan_df = vendedores_df.dropna(subset=['REGION'])
print(v_sin_nan_df.shape)
v_sin_nan_df.head(7)

(40, 8)

,NOMBRE,APELLIDO,EMAIL,FECHA INGRESO,VENTAS,CALIFICACION DADA POR LOS CLIENTES,TELEFONO,REGION
0,Luciana,Rodríguez,l.rodriguez@ventas.com.br,2021-08-01,180.0,MUY BUENA,NaN,Brasil
1,Santiago,González,s.gonzalez@ventas.com.uy,NaT,NaN,MALA,NaN,Uruguay
3,Carlos,Fernández,NaN,NaT,150.0,NaN,NaN,Brasil
4,Jonathan,López,NaN,2018-07-19,NaN,MALA,NaN,Paraguay
5,Gabriela,Martínez,g.martinez@ventas.com.cl,2019-10-07,NaN,BUENA,NaN,Chile
7,Maximiliano,Torres,m.torres@ventas.com.ar,2015-01-05,NaN,BUENA,NaN,Argentina
8,Julieta,NaN,j.ruiz@ventas.com.uy,2016-09-03,219.0,EXCELENTE,NaN,Uruguay

# Reemplazar Valores Faltantes

In [18]:
vendedores_df['REGION'].fillna("Sin región asignada", inplace = True)
vendedores_df.head(10)

,NOMBRE,APELLIDO,EMAIL,FECHA INGRESO,VENTAS,CALIFICACION DADA POR LOS CLIENTES,TELEFONO,REGION
0,Luciana,Rodríguez,l.rodriguez@ventas.com.br,2021-08-01,180.0,MUY BUENA,NaN,Brasil
1,Santiago,González,s.gonzalez@ventas.com.uy,NaT,NaN,MALA,NaN,Uruguay
2,Paola,Gómez,NaN,2014-11-20,198.0,MUY BUENA,NaN,Sin región asignada
3,Carlos,Fernández,NaN,NaT,150.0,NaN,NaN,Brasil
4,Jonathan,López,NaN,2018-07-19,NaN,MALA,NaN,Paraguay
5,Gabriela,Martínez,g.martinez@ventas.com.cl,2019-10-07,NaN,BUENA,NaN,Chile
7,Maximiliano,Torres,m.torres@ventas.com.ar,2015-01-05,NaN,BUENA,NaN,Argentina
8,Julieta,NaN,j.ruiz@ventas.com.uy,2016-09-03,219.0,EXCELENTE,NaN,Uruguay
9,Mariano,Suarez,m.suarez@ventas.com.ar,2013-04-17,200.0,EXCLENTE,NaN,Argentina
10,Carla,Acosta,c.acosta@ventas.com.br,2018-12-01,195.0,MUY BUENA,NaN,Brasil

In [19]:
vendedores_df['FECHA INGRESO'].fillna( method ='ffill', inplace=True)
vendedores_df.head(9)

,NOMBRE,APELLIDO,EMAIL,FECHA INGRESO,VENTAS,CALIFICACION DADA POR LOS CLIENTES,TELEFONO,REGION
0,Luciana,Rodríguez,l.rodriguez@ventas.com.br,2021-08-01,180.0,MUY BUENA,NaN,Brasil
1,Santiago,González,s.gonzalez@ventas.com.uy,2021-08-01,NaN,MALA,NaN,Uruguay
2,Paola,Gómez,NaN,2014-11-20,198.0,MUY BUENA,NaN,Sin región asignada
3,Carlos,Fernández,NaN,2014-11-20,150.0,NaN,NaN,Brasil
4,Jonathan,López,NaN,2018-07-19,NaN,MALA,NaN,Paraguay
5,Gabriela,Martínez,g.martinez@ventas.com.cl,2019-10-07,NaN,BUENA,NaN,Chile
7,Maximiliano,Torres,m.torres@ventas.com.ar,2015-01-05,NaN,BUENA,NaN,Argentina
8,Julieta,NaN,j.ruiz@ventas.com.uy,2016-09-03,219.0,EXCELENTE,NaN,Uruguay
9,Mariano,Suarez,m.suarez@ventas.com.ar,2013-04-17,200.0,EXCLENTE,NaN,Argentina

In [20]:
vendedores_df['VENTAS'].fillna( method ='bfill', inplace=True)
vendedores_df.head(9)

,NOMBRE,APELLIDO,EMAIL,FECHA INGRESO,VENTAS,CALIFICACION DADA POR LOS CLIENTES,TELEFONO,REGION
0,Luciana,Rodríguez,l.rodriguez@ventas.com.br,2021-08-01,180.0,MUY BUENA,NaN,Brasil
1,Santiago,González,s.gonzalez@ventas.com.uy,2021-08-01,198.0,MALA,NaN,Uruguay
2,Paola,Gómez,NaN,2014-11-20,198.0,MUY BUENA,NaN,Sin región asignada
3,Carlos,Fernández,NaN,2014-11-20,150.0,NaN,NaN,Brasil
4,Jonathan,López,NaN,2018-07-19,219.0,MALA,NaN,Paraguay
5,Gabriela,Martínez,g.martinez@ventas.com.cl,2019-10-07,219.0,BUENA,NaN,Chile
7,Maximiliano,Torres,m.torres@ventas.com.ar,2015-01-05,219.0,BUENA,NaN,Argentina
8,Julieta,NaN,j.ruiz@ventas.com.uy,2016-09-03,219.0,EXCELENTE,NaN,Uruguay
9,Mariano,Suarez,m.suarez@ventas.com.ar,2013-04-17,200.0,EXCLENTE,NaN,Argentina